.edit-meanings-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.edit-example-block{
    display: flex;
    gap: 10px;
    padding: 0;
    align-items: center;
    align-content: center;
}

.edit-example-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.edit-meaning-block{
    flex-direction: column;
    border-radius: var(--medium-border-radius);
    background-color: var(--meaning-background);
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex: 1;
}

.moderator-delete-button{
    background-color: #FF3D3D;
}

.moderator-delete-button img{
    width: 25px;
    height: auto;
}

.moderator-add-meaning-button{
    background-color: var(--button-color);
    width: fit-content;
    display: flex;
    gap: 6px;
    align-items: center;
}

.moderator-approve-button{
    background-color: #7FED7C;
}

.moderator-meaning-button{
    background-color: #bfbfbf;
}

.buttons-block{
    display: flex;
    align-self: flex-start;
    gap: 10px;
}