.user-input-tags-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tag-input-wrapper{
    background-color: var(--light-background-color);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-shadow);
    border-style: none;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

.tag-input-wrapper:hover{
    cursor: text;
}

.tag-hidden-input{
    font-size: 16px;
    border-radius: var(--default-border-radius);
    width: fit-content;
    /* background-color: rebeccapurple; */
    min-width: 2px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-hidden-input:empty::before{
    content: 'Запишите теги через запятую...';
    transform: translateY(-2px);
    color: #555;
}

.tag-hidden-input:empty{
    padding-top: 5px;
}

.tag-hidden-input:focus{
    outline-style: none;
}

.user-remove-tag-button{
    /* color: var(--white); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.2px;
    background-color: var(--negative-color);
}

.user-tag-search-input-area{
    position: relative;

}

.tag-selector-list{
    position: absolute;
    padding: 10px;
    margin: 0;
    width: 300px;
    max-height: 100px;
    overflow-y: scroll;
    top:0;
    transform: translate(-320px);
    border-radius: var(--default-border-radius);
    background-color: var(--light-background-color);
    border-width: 1px;
    box-shadow: var(--default-shadow);
    /* border-color: var(--border-color);
    border-style: solid; */
    list-style: none;
}

.user-form-tag-selector-list{
    position: absolute;
    padding: 10px;
    margin: 0;
    width: 300px;
    max-height: 100px;
    overflow-y: scroll;
    top:0;
    transform: translateY(30px);
    border-radius: var(--medium-border-radius);
    background-color: var(--block-color);
    border-width: 1px;
    box-shadow: var(--default-shadow);
    /* border-color: var(--border-color);
    border-style: solid; */
    list-style: none;
    z-index: 1;
    /* opacity: .2; */
}

.user-tag-selector-list-element{
    display: flex;
    background-color: var(--block-color);
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;
}