.moderator-phrase-post-date{
    color: var(--date-color);
    font-size: 20px;
    margin: 0;
}

.moderator-phrase-block{
    background-color: var(--block-color);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: var(--big-border-radius);
    /* border-style: solid;
    border-width: 0px;
    border-color: var(--border-color); */
    padding: 10px;
    box-shadow: var(--default-shadow);
    animation: var(--default-appear-animation);
}

.moderator-tags-block{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.moderator-meaning-example-text{
    margin: 0;
}

.moderator-meaning-block{
    background-color: var(--meaning-background);
    border-radius: var(--medium-border-radius);
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}   